@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This privacy policy has been compiled to better serve those who are concerned with how their “personal information” is being used
    online. If we refer to “personal information” or “information” in this policy, we mean personal information as defined in the South African Protection of Personal Information Act, No. 4 of
    2013 (“POPI“). It includes, for example, your full name, email address, contact details, and location.
</p>
